# Ignore virtual environments
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# macOS and Linux files
.DS_Store
*.swp

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
